
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: rgb(166, 167, 252);
  font-family: 'Tahoma', sans-serif;
}

@mixin tablet {
  @media (min-width:768px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width:1280px) {
    @content;
  }
}


.header {
  box-shadow: 0 0  3px 0 rgb(0, 0, 0);
  display: flex;
  justify-content: space-between;
  align-items: center;
    &__name {
      font-size: 1.5rem;
    }
    &__img {
      width: 4rem;
    }
    &__humMenu {
      display: grid;
      gap: 0.5rem;
      &--icon {
        width: 2.5rem;
        height: 0.5rem;
        background-color: rgb(105, 107, 252);
        border-radius: 0.5rem;
      }
    }
  @include tablet {
    background-color: blue;
  }
  @include desktop{
    max-width: 1280px;
    text-align: center;
    background-color: red;
  }
  }

.getToDoFromUser{
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 50% 50%;
  justify-items: center;
  align-items: center;
  width: 70%;
  height: 20%;
  background-color: rgb(21, 153, 153);
  position: fixed;
  top: 30%;
  left: 15%;
  border-radius: 2rem;
  &__deleteDivs {
    grid-column: 5 / 6;
    grid-row: 1 /2;
    width: 40px;
    height: 40px;
    background-color:darkgray;
    border-radius: 50%;
  }
  &__btn{
    grid-column: 5 / 6;
    grid-row: 2/3;
    width: 3rem;
    height: 2rem;
    border-radius: 12px;
  }
  &__label {
    font-weight: bold;
    grid-column: 1 / 3;
    padding-top: 0.5rem;
    padding-left: 0.5rem;
  }
  &__input {
    grid-column: 1 / 5;
    grid-row:  2/3;
    border-radius: 12px;
    width: 14rem;
    height: 2rem ;
  }
}

.mainContent {
  &__month {
    text-align: center;
    font-size: 2rem;
    padding-bottom: 1.5rem;
  }

  &__todayDivTag {
    display: flex;
    width: 100vw;
    padding-bottom: 1rem;
    justify-content: space-evenly;
    &--divBtnTag {
      display: flex;
      width: 8rem;
      height: 40px;
      background-color:darkgray;
      text-align: right;
      border-radius: 12px;
      align-items: center;
      justify-content: center;
    }
  }
  &__listContainer {
    text-align: left;
    &--list{
      display: grid;
      grid-template-columns: 20% 20% 20% 20% 20%;
      height: 3rem;
      justify-items: center;
      align-items: center;
      box-shadow: 0 0  3px 0 rgb(0, 0, 0);

      &__checkbox {
        grid-column: 1 / 2;
        width: 1rem;
      }
      &__toDoText {
        grid-column: 2 / 5;
        text-align: right;
      }
    }
  }
  &__doneListContainer {
    width: 100vw;
    height: 50vh;
    &--title {
      text-align: center;
      margin-top: 1rem;
      margin-bottom: 1rem;
      font-weight: bold;
    }
  }
}

.weeksContainer {
  display: flex;
  justify-content: space-evenly;
  &__days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    list-style-type: none;
    justify-items: center;
    width: 90vw;
    font-weight: bold;
  }
}

.markToday {
  background-color: rgb(226, 170, 15);
  border-radius: 50%;
}



.humMenuContent {
  position: fixed;
  width: 15rem;
  height: 30rem;
  top: 0;
  left: 0;
  background-color: rgb(105, 107, 252);
  border-radius: 0 0 12px 0;
  box-shadow: 0 0  10px 0 rgb(0, 0, 0);
  &__remove{
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    top: 1%;
    left: 80%;
  }
  &__makeToDo {
    display: flex;
    &--icon {
      width: 1.5rem;
    }
    &--title {
      font-size: 1rem;
    }
  }
}
