
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: rgb(254,254,242);
}

.container {
  background-color: aqua;
}


@mixin tablet {
  @media (min-width:768px) {
    @content;
  }
}

@mixin tablet {
  @media (min-width:1280px) {
    @content;
  }
}


.headerContainer {


  &__content {
    display: grid;
    grid-template-columns: 50% 50%;

    &--name {
      display: flex;
      align-items: center;
      text-align: left;
      padding-left: 2rem;
      font-size: 1.5rem;
    }
    &--img {
      width: 40px;
      display: flex;
      align-items: center;
    }

    &--text {
      padding: 1rem 0 0 2rem;
    }
  }
  @include tablet {
    background-color: blue;
  }
}