
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: rgb(254,254,242);
  font-family: 'Tahoma', sans-serif;
}

.container {
  background-color: aqua;
}


@mixin tablet {
  @media (min-width:768px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width:1280px) {
    @content;
  }
}


.headerContainer {


  &__content {
    display: grid;
    grid-template-columns: 50% 50%;

    &--name {
      display: flex;
      align-items: center;
      text-align: left;
      padding-left: 2rem;
      font-size: 1.5rem;
    }
    &--img {
      width: 40px;
      display: flex;
      align-items: center;
    }

    &--text {
      padding: 1rem 0 0 2rem;
    }
  }
  @include tablet {
    background-color: blue;
  }
}

.divs {
  width: 80%;
  height: 70%;
  background-color: aqua;
  position: fixed;
  top: 10%;
  left: 10%;

  &__deleteDivs {
    width: 40px;
    height: 40px;
    background-color: black;
  }

}

.mainContent {
  &__month {
    text-align: center;
    font-size: 2rem;
    padding-top: 2rem;
    padding-bottom: 1.5rem;
  }

  &__todayDivTag {
    display: flex;
    width: 100vw;
    padding-bottom: 1rem;
    justify-content: space-evenly;
    &--divBtnTag {
      display: flex;
      width: 80px;
      height: 40px;
      background-color: red;
      text-align: right;
      border-radius: 12px;
      align-items: center;
      justify-content: center;
    }

  }

  &__listContainer {
    justify-content: space-evenly;
    &--list{
      display: grid;
      grid-template-columns: 20% 20% 20% 20% 20%;
      height: 3rem;
      justify-items: center;
      align-items: center;
      box-shadow: 0 0  3px 0 rgb(0, 0, 0);

      &__checkbox {
        color: blue;
        grid-column: 1 / 2;
        width: 1rem;
      }

      &__toDoText {
        grid-column: 2 / 5;
      }
    }
  }
  &__doneListContainer {
    width: 100vw;
    height: 100vh;
    background-color: red;
    margin-top: 3rem;
  }
  &--title {
    width: 3rem;
    height: 3rem;
    background-color: black;
    color: aqua;
  }
}

.weeksContainer {
  display: flex;
  justify-content: space-evenly;
  &__days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    list-style-type: none;
    justify-items: center;
    width: 90vw;
    font-weight: bold;
  }
}

.next {
  background-color: rgb(226, 170, 15);
  border-radius: 50%;
}

.line {
  height: 2px;
  background-color: black;
  box-shadow: 2px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
